<div class ="question-container">
  <h2> New Question for the BridgeKeeper </h2>
  <form action='/questions' method='post'>
    <input type="text" name='title' placeholder="Question!?">
    <input type="text" name="description" rows="5" cols="50" placeholder="Details...PLEASE">
    <input type="submit" id="SPAM" value="SPAM!">
  </form>
</div> <!-- close question-container -->

