  <div class="page-header">
    <h1>Welcome to Python Overflow!</h1>
  </div> <!-- end page-header -->

<div class = "row">
  <div id="foot">
    <img src="../images/foot.png"
  </div>
</div><!-- end row -->

<% if session[:user_id] %>
<div class = "row" id="main-top">
  <div class="col-md-12 text-center">
    <button type="button" id="ask-question" class="btn btn-default">Ask a Question</button>
    <div id="new-question-form">
      <%=erb :'questions/_new_question', layout: false %>
    </div><!-- end row -->
  </div><!-- end btn-div -->
</div><!-- end row -->
<% end %>





<br>
<div class = "row">
  <div class ="coll-md-12">
    <ul class="list-group">
      <% @questions.each do |question| %>
        <li class="list-group-item">
          <div class="btn-group">
            <button type="button" class="butn btn-default" id="up-vote" aria-label="...">
              <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
            </button>
          </div> <!--end button group -->
          <a href="/questions/<%=question.id%>"><%=question.title%></a>
          <span class="badge"><%=question.votes.length%></span>
        </li>
      <% end %>
    </ul>
  </div> <!-- end question div -->
</div><!-- end row -->

