<div class="container top" id="questions-page">
  <div class="question-container clearfix">
    <h1><%= @question.title%></h1>
    <p><%= @question.description %></p>
    <button type="button" class="up-vote"> Un-laiden Swallow</button>
    <button type="button" class="down-vote"> Laiden Swallow</button>
    <form action="/questions/<%= @question.id %>/comment" method="GET">
      <button type="submit" class="question-comment">Bruce</button>
    </form>
    <br>
    <br>
    <div class="question-comments">
      <% @question.comments.each do |comment| %>
        <div class="individual_answer_comments">
        <%= erb :"partials/_list_comments", :layout => false, :locals => {comment: comment}%>
        </div><!-- individual_answer_comments close-->
    </div><!-- end question-comments  -->
      <% end %>
  </div><!-- end question-container  -->
</div><!-- end container top  -->
